<div class="chirpstack-header">
	<div class="chirpstack-logo">
		<a href="https://www.chirpstack.io"><img class="chirpstack-logo" src="https://www.chirpstack.io/static/logo.png" alt="ChirpStack" /></a>
	</div>
	<span class="chirpstack-links">
		<a href="/">Home</a> | <strong>Documentation</strong> | <a href="https://forum.chirpstack.io">Community forum</a>
	</span>
</div>
