<div class="chirpstack-header">
	<div class="chirpstack-logo">
		<a href="https://www.chirpstack.io"><img class="chirpstack-logo" src="https://www.chirpstack.io/static/logo.png"
				alt="ChirpStack" /></a>
	</div>
	<div class="chirpstack-buttons">
		<a class="github-button" href="https://github.com/sponsors/chirpstack" data-icon="octicon-heart"
			data-size="large" aria-label="Sponsor @chirpstack on GitHub">Sponsor</a>
		<a class="github-button" href="https://github.com/chirpstack/chirpstack" data-size="large"
			aria-label="Star chirpstack/chirpstack on GitHub">Star</a>
	</div>
	<span class="chirpstack-links">
		<a href="/">Home</a> | <strong>Documentation (v4)</strong> | <a
			href="https://www.chirpstack.io/docs/v3-documentation.html">Documentation (v3)</a> | <a
			href="https://forum.chirpstack.io">Community forum</a>
	</span>
</div>
